/* line 10, ../sass/styles/_style.scss */
.vcl-visual-help {
  margin: 4px 0 0 !important;
  padding: 30px;
  position: relative;
  border: 1px dashed #ddd;
  background: #f8f8f8 none repeat scroll 0 0;
  border-radius: 0.333em; }

/* line 19, ../sass/styles/_style.scss */
.vcl-select-link {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px; }

/* line 24, ../sass/styles/_style.scss */
.vcl-elements-area {
  margin-top: 0 !important; }

/* line 27, ../sass/styles/_style.scss */
.vcl-element {
  min-height: 40px; }

/* line 30, ../sass/styles/_style.scss */
.vcl-deleteImage {
  position: absolute;
  left: 60%;
  top: 30%; }
  /* line 34, ../sass/styles/_style.scss */
  .vcl-deleteImage .button {
    bottom: 80px; }

/* line 38, ../sass/styles/_style.scss */
.ui-state-highlight {
  height: 25px;
  line-height: 25px;
  border: 5px solid #ffffff;
  border-radius: 4px;
  margin: 0 0 20px; }

/* line 46, ../sass/styles/_style.scss */
.vcl-container {
  margin-top: 50px;
  padding: 15px;
  background-color: #bfc2ca;
  min-height: 40px; }

/* line 52, ../sass/styles/_style.scss */
.vcl-btn {
  padding: 10px;
  border: 1px dashed silver;
  color: #000000;
  background: #f0f0f0;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 10px; }
  /* line 63, ../sass/styles/_style.scss */
  .vcl-btn:before {
    margin-right: 5px; }
  /* line 66, ../sass/styles/_style.scss */
  .vcl-btn:hover {
    text-decoration: none;
    cursor: pointer;
    background: #e3e3e3; }

/* line 72, ../sass/styles/_style.scss */
.use-ajax {
  min-width: 70px;
  text-align: center;
  text-decoration: none; }
  /* line 76, ../sass/styles/_style.scss */
  .use-ajax:hover {
    text-decoration: none; }
  /* line 79, ../sass/styles/_style.scss */
  .use-ajax:focus {
    text-decoration: none; }

/* line 83, ../sass/styles/_style.scss */
.colorpicker-color {
  width: 150px; }

/* line 86, ../sass/styles/_style.scss */
.iconButton {
  cursor: pointer;
  color: #333;
  font-size: 20px !important;
  padding: 7px;
  float: right; }
  /* line 92, ../sass/styles/_style.scss */
  .iconButton:hover {
    color: rgba(0, 0, 0, 0.15) !important;
    text-shadow: -4px -4px #333; }
  /* line 97, ../sass/styles/_style.scss */
  .iconButton:focus {
    color: #333; }

/* line 101, ../sass/styles/_style.scss */
.dragIcon {
  float: left;
  margin-top: 10px;
  margin-left: 10px; }
  /* line 105, ../sass/styles/_style.scss */
  .dragIcon:hover {
    cursor: move; }

/* line 109, ../sass/styles/_style.scss */
.dragIcon::before {
  margin-right: 10px;
  font-size: 20px; }

/* line 114, ../sass/styles/_style.scss */
.addButton:hover {
  text-decoration: none; }
/* line 117, ../sass/styles/_style.scss */
.addButton:focus {
  text-decoration: none; }

/* line 121, ../sass/styles/_style.scss */
.tooltip {
  color: #ffffff;
  background: #000000;
  position: absolute;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  min-width: 300px; }

/* line 131, ../sass/styles/_style.scss */
.infoIcon:hover {
  cursor: default; }

/* line 134, ../sass/styles/_style.scss */
.btn-style {
  padding: 15px;
  display: inline-block;
  min-width: 180px;
  margin: 5px; }

/* line 140, ../sass/styles/_style.scss */
.ajax-progress {
  position: absolute; }

/* line 143, ../sass/styles/_style.scss */
.form-item-upload-image {
  margin-left: 50px !important;
  margin-bottom: 50px !important;
  margin-top: 50px !important; }
